*
!00-options.zsh
!10-autoload.zsh
!20-zmodload.zsh
!30-zstyle.zsh
!40-functions.zsh
!40-special.zsh
!40-widgets.zsh
!50-fzf.zsh
!50-lf.zsh
!50-nnn.zsh
!50-ranger.zsh
!60-aliasrc.zsh
!60-shortcuts.zsh
!70-autosuggestions.zsh
!90-keymap.zsh
